#box2{
    flex-direction: column;
    align-items: center;
}
#left iframe{
    width: 100vw;

}
#left{
    width: 100vw;
}
#middle{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin-right: 0px;
    padding-left: 0px;
    padding: 10px 0px;
}
#right{
    text-align: center;
    align-items: center;
    width: 100vw;
}
