body{
    margin: 0px 0px;
    padding: 0px;
    background-color: #474747;
}

.box1{
/* color: white; */
background-color: white;
width: 85%;
margin: auto;
/* align-items: center; */
/* text-align: center; */
padding: 25px;
}


.date{
text-align: left;
/* padding: 39px; */

}

.box1 h3{
    text-align: center;
    text-decoration:underline;
}



.tnc{
    text-align: center;
}

h4{
    text-decoration: underline;
}

h5{
    text-decoration: underline;
}


