.poster{
    height: 26rem;
    width:22rem;
    width: 20%;
    height: auto;
}
.main_banner{
    display: flex;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-size: contain;
     width: 100%; 
     height: auto;
}