.poster{
    height: 26rem;
    width:22rem;
}
.main_banner{
    display: flex;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.maylike{
    margin-top: 120px;
}
.maylike h2{
    text-align: center;
    margin: 50px;
    color: #324d67;
}
.ma