@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  /* color: var(--black); */
  margin: 0;
  padding: 0;
}


:root {
  --red: #D90708;
  --yellow: #FFBB00;
  --gray: #8F8F8F;
  --black: #000;
  --white: #fff;
}
body input{
  border: 1px solid var(--black);
  border-radius: 5px;
}



#closeBtn {
  transition: all 0.5s ease-in-out;
}

#closeBtn:hover {
  cursor: pointer;
  transform: rotateZ(360deg);
}

#cartBtn:hover {
  cursor: pointer;
}

#cartBtn {
  transition: all 0.5s ease-in-out;
}

#cartBtn path:hover {
  color: var(--gray);
}

.about_box1 img {
  width: 100%;

}

.about_box2 {
  display: flex;
  align-items: center;
}

.about_box2 img {
  margin: 20px 125px;
  z-index: -1;
}

.about_p1 {
  box-shadow: 5px 6px 10px 4px grey;
  transform: translate(-140px, 0px);
  padding: 20px;
  background: white;
}

.about_box3 {
  display: flex;
  align-items: center;
  margin: 50px 0px;
}

.about_box3 img {
  margin: 20px 125px;
  z-index: -1;
}

.about_p2 {
  box-shadow: -5px 6px 10px 4px grey;
  transform: translate(140px, 0px);
  padding: 20px;
  background: white;
}

.about_p1 h3 {
  text-align: center;
}

.about_p2 h3 {
  text-align: center;
}

@media only screen and (max-width: 1170px) {
  .about_box2 {
    flex-direction: column;
  }

  .about_p1 {
    position: relative;
    /* top: 5px;
left: 145px; */
    word-wrap: normal;
    transform: translate(0) !important;
    width: 80vw;


  }

  .about_box3 {
    flex-direction: column-reverse;
  }

  .about_box3 img {
    position: relative;
    /* top -290px; */
  }

  .about_p2 {
    position: relative;
    transform: translate(0) !important;
    width: 80vw;
    /* top: 260px;
left: -145px; */
    word-wrap: normal;

  }


}

.banner{
  background: url('../public/1.png');
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}
.poster{
  height: 18rem;
}
.line{
  width:50%;text-align:left;margin-left:0;
  border:3px solid red;
  border-radius: 4px;
}
.search-btn:hover {
  color: #FF2625 !important;
  background-color: white;
  border: 1px solid #FF2625 !important;
}
.search-btn{
  color:white;
  background-color: #FF2625;
  margin-left: 1em;
}
.card{
  transition: all 0.2s ease-in-out;
  margin: 2rem 0;
}

.card:hover{
  transform: translateY(-1rem);
  cursor: pointer;
}
.topic{
  margin-top: 4rem;
}

.topic h1{
  color: var(--red);
  font-weight: 700;
  margin: 0;
  font-size: 2rem;
}

.topic hr{
  width: 10rem;
  border-top: 5px solid var(--red);
  border-radius: 10rem;
  opacity: 1;
  margin: 0;
}
.length{
  display: flex;
  justify-content: center;
  align-items: center;
}

.length hr{
  border-top: 1px solid var(--gray);
  opacity: 1;
  width: 20vw;
  margin: 0 0.5rem;
}

.length select{
  border: 1px solid var(--black);
  padding: 0.5rem;
  border-radius: 5px;
  width: 20vw;
}
/* 
 */
 .App {
  background-color: rgb(240, 245, 243);
  font-family: sans-serif;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  color: rgb(202, 212, 207);
  background-color: #115233;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 100%;
  width: 100%;
}

.flex {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

a img {
  width: 20px;
  height: 20px;
}
.spin {
  display: none;
}

.d-flex {
  /* justify-content: space-between; */
  float: right;
  /* background: rgba(19, 35, 47, 0.9); */
  /* padding: 40px; */
  /* max-width: 600px; */

  margin: auto;
  /* border-radius: 4px; */
  /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); */
  margin-right: 20px;
}
.nav-flex {
  display: flex;
  justify-content: space-between;
}

#movies {
  background-color: rgb(240, 245, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 100%;
  height: 750px;
  margin: 5px;
  /* height: 300px; */
}
#Nav {
  height: 10%;
  display: flex;
}

#main {
  background-color: rgb(240, 245, 243);
  width: 100%;
  height: 80%;
}
#search-box {
  border: 1px solid green;
}

#back-img {
  position: fixed;
  left: 0px;
  top: 100px;
}
#back-img:hover {
  cursor: pointer;
}
#percent {
  width: 70px;
  height: 70px;
  background-color: rgb(8, 28, 34);
  border-radius: 450%;
}
.container-movie {
  /* opacity: 1 !important; */
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(116, 112, 112, 0.5);
  /* background-color: rgba(9, 211, 211, 0.801); */
}
/* .container-movie > image {
  opacity: 1 !important;
} */
#movie-img {
  border-radius: 10px;
  width: 480px;
  height: 700px;
  margin: 30px 0px 30px 0px;
}

.container-details {
  /* background-color: lightblue; */
  width: 70%;
  height: 80%;
  margin: 3% 3% 5% 2%;
  text-align: left;
}
.container-rating {
  display: flex;
  width: 30%;
  height: 20%;
  justify-content: space-between;
  align-items: flex-start;
  /* background-color: #115233; */
}
.center {
  align-self: center;
}
.inner-container {
  display: flex;
  width: 50%;

  justify-content: space-between;
  /* background-color: grey; */
}
#space {
  width: 5%;
}
#youtube {
  /* background-; */
  width: 100%;
  height: 80%;
  text-align: center;
}

#search-space {
  width: 65%;
  height: 100%;
}
/* .container-movie[background-image] {
  opacity: 0.5;
} */

/* 
.container-movie::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
