.accordion{
    margin: 4rem 0;
    color: var(--black) !important;
}

.accordionButton1{
    color: var(--black) !important;
    box-shadow: none !important;
    outline: none;
    border: none;
    background: var(--white) !important;
}

.accordionButton2{
    color: var(--black) !important;
    box-shadow: none !important;
    outline: none;
    border: none;
    background: var(--yellow) !important;
}