.checkout_container{
    margin: 2rem 6rem;
}

.topic{
    margin-top: 4rem;
}

.topic h1{
    color: var(--red);
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
}

.topic hr{
    width: 10rem;
    border-top: 5px solid var(--red);
    border-radius: 10rem;
    opacity: 1;
    margin: 0;
}

.order_address{
    display: flex;
    margin: 3rem 0 0 0;
}

.address{
    display: flex;
    padding: 1.5rem 1rem;
    border: 0.5px solid var(--gray);
    border-radius: 10px;
    margin: 0rem 3rem 3rem 0;
    justify-content: space-between;
    width: 70vw;
}

.address h2{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.address .left{
    width: 25%;
}
.address .mid{
    width: 25%;
}

.checkout_caution{
    background: #D9D9D9;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    display: flex;
}
.address .right{
    width: 30%;
}

.address .right input{
    /* margin-top: 2rem; */
    padding: 0.5rem;
    width: 10rem;
}

.address .right button{
    background: #D9D9D9;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 10px;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;
}

.address .right button:hover{
    background: #5a5a5a;
    color: var(--white);

}

.order{
    padding: 1.5rem 1rem;
    border: 0.5px solid var(--gray);
    border-radius: 10px;
    width: 30%;
    margin: 0rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order button{
    background: var(--red);
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 10px;
    color: var(--white);
    transition: all 0.3s ease-in-out;
}


.order button:hover{
    background: tomato;
    color: var(--black);
}

.summary{
    width: 100%;
}

.summary h3{
    font-size: 1.25rem;
}

.summary_items{
    display: flex;
    justify-content: space-between;
}

.your_cart{
    border: 0.5px solid var(--gray);
    padding: 1.5rem 1rem;
    border-radius: 10px;
    width: 55rem;
}

.your_cart h2{
    margin-left: 2rem;
    color: var(--red);
    font-size: 1.5rem;
}

.qtyBtn{
    color: var(--red);
    border-radius: 999px;
    border: 1px solid var(--red);
    padding: 0 0.5rem;
    margin: 0.5rem;
}

.qtyBtn:hover{
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .checkout_container{
        margin: 2rem;
    }
    .topic h1 {
        font-size: 1.25rem;
      }
    
      .topic hr {
        width: 6rem;
      }

      .topic span{
        font-size: 0.65rem;
      }
      .order_address{
        flex-direction: column;
      }
      .address{
        width: 100%;
        flex-direction: column;
      }
      .address h2{
        margin-bottom: 0;
        margin-top: 1.5rem !important;
        font-size: 1rem;
      }
      .address span, .address p{
        font-size: 0.75rem;
      }
      .address input{
        padding: 0.25rem;
    font-size: 0.65rem;
      }
      .left{
        width: 100% !important;
      }
      .mid{
        width: 100% !important;
      }
      .checkout_caution svg{
        height: 1rem;
      }
      .right{
        width: 100% !important;
      }
      .right button{
        padding: 0.55rem 0.65rem !important;
    font-size: 0.65rem;
    border-radius: 5px !important;
      }
      .order{
        width: 100%;
      }
      .your_cart{
        width: 100%;
        padding: 1.5rem 0rem;
      }
      .your_cart h2{
        font-size: 1rem;
      }
      .summary_items h3{
        font-size: 0.75rem;
      }
      .summary_items span{
        font-size: 0.65rem;
      }
}