.landing{
    display: flex;
    margin: 9rem 6rem;

}

.landing .left{
    max-width: 30rem;
    width: 50%;
}

.landing .left img{
    height: 20rem;
}

.landing .left .extraImage{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.topic {
    margin-top: 4rem;
}

.topic h1 {
    color: var(--red);
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
}

.topic hr {
    width: 10rem;
    border-top: 5px solid var(--red);
    border-radius: 10rem;
    opacity: 1;
    margin: 0;
}

.extraImage img{
    width: 5rem;
    height: 8rem !important;
}

.landing .left .qualities{
    display: flex;
    justify-content: space-between;
    max-width: 20rem;
    margin-top: 1.5rem;
}

.landing .left .qualities .quality{
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing .left .qualities .quality span{
    margin-left: 0.5rem;
}

.landing .right{
    margin-left: 4rem;
    width: 50%;
}

.landing .right h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.landing .right h4{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--red);
}

.landing .right p{
    font-size: 0.7rem;
}

.landing .right span{
    max-width: 10rem;
}

.landing .right .plan{
    margin: 3rem 0;
    padding: 2rem;
    border: 1px solid var(--gray);
    border-radius: 0.5rem;
}

.landing .right .plan h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.landing .right .plan hr{
    margin-bottom: 1rem;
}

.landing .right .plan .plan_item{
    color: var(--red);
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.landing .right .plan .plan_item button{
    outline: var(--red);
    border: 1px solid var(--red);
    padding: 0.1rem 0.45rem;
    border-radius: 999px;
    height: 1rem;
    background: var(--white);
}

.landing .right .plan .plan_item button:hover{
    background: var(--red);
    cursor: pointer;
}

.landing .right .plan .plan_item h3{
    margin-left: 1rem;
}

.gamesBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--red);
    padding: 0.5rem;
    border-radius: 10px;
    color: var(--white);
    transition: all 0.3s ease-in-out;
}

.gamesBtn:hover{
    background: tomato;
    cursor: pointer;
    color: var(--black);
}

.plan input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    /* background-color: #d1d3d1; */
    content: '';
    display: inline-block;
    /* visibility: visible; */
    /* border: 1px solid var(--red); */
}

.plan input[type='radio']:hover{
    cursor: pointer;
}

.plan input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    /* top: -2px; */
    left: -1px;
    position: relative;
    background-color: var(--red);
    content: '';
    display: inline-block;
    visibility: visible;
    /* border: 2px solid white; */
}

.margining{
    margin: -5rem 6rem 0 6rem;
}

.what{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.what img{
    height: 10rem;
}

.what span{
    margin: 0;
}

.optional{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.optional h2{
    font-size: 1.5rem;
}

.optional .right{
    margin-left: 2rem;
}

.optional .right p{
    font-size: 1.25rem;
}

.optional .right .add_sub{
    border: 1px solid var(--red);
    display: inline;
    width: 100%;
    height: 100%;
    padding: 0.25rem 0;
}

.optional .right .add_sub button{
    border: 1px solid var(--red);
    padding: 0;
}

.optional .right .add_sub span{
    margin: 0 1rem;
}

@media only screen and (max-width:800px){
    .landing{
        flex-direction: column;
        margin: 2rem 2rem;
    }
    .left{
        width: 100% !important;
        max-width: 100% !important;
    }
    .landing .right{
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;   
        margin-top: 3rem;
    }
    .margining{
        margin: -4rem 2rem 0 2rem;
    }
    .what img{
        height: 5rem;
    }
    .what span{
        font-size: 0.75rem;
    }
    .topic h1{
        font-size: 1.25rem;
    }
    .topic hr{
        width: 6rem;
    }
    .optional .left img{
        height: 7rem !important;
        width: 7rem !important;
    }
    .optional .right{
        margin-top: 0;
        margin-left: 0;
    }
}