.footer_body {
    background: url('../public/footerbg.png');
    color: var(--white);
    padding: 5rem 10rem 0rem 10rem;
    font-weight: 400;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_content .left img {
    height: 3rem;
    margin-bottom: 1rem;
}

.footer_content .left p {
    color: var(--red);
    font-size: 1.75rem;
    font-weight: 600;
}

.footer_content .left .socials span {
    border: 1px solid white;
    padding: 0.5rem 0.75rem 0.4rem 0.75rem;
    margin-right: 1rem;
    border-radius: 999px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
}

.footer_content .left a {
    color: white;
}

.footer_content .middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
}

.footer_content .middle a {
    text-decoration: none;
    color: white;
}

.footer_content .right {
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_content .right h1 {
    font-size: 1.75rem;
    color: var(--red);
    font-weight: 600;
}

.footer_content .right a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
}

.footer_content .right span {
    margin-left: 1.5rem;
}

.footer_content .right .right_div {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.copy {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    color: var(--gray);
}

@media only screen and (max-width: 800px) {
    .footer_body {
        padding: 2rem 2rem 0rem 2rem;
    }

    .footer_content {
        flex-direction: column;
    }

    .middle {
        margin-top: 2rem;
    }

    .middle a {
        font-size: 0.65rem;
        height: 3rem;
    }

    .left p {
        font-size: 1rem !important;
    }

    .right h1 {
        font-size: 1rem !important;
    }
    .right svg{
        height: 1rem;
    }
    .right a{
        font-size: 0.65rem;
    }
    .right span{
        font-size: 0.65rem;
    }

    .copy span {
        text-align: center;
    }

    .socials {
        margin-top: 1rem;
    }

    .socials span {
        padding: 0 0.25rem !important;
    }

    .socials a svg {
        font-size: 1rem;
    }
}