.main {
    padding: 2rem 6rem;
}

.topic {
    margin-top: 4rem;
}

.topic h1 {
    color: var(--red);
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
}

.topic hr {
    width: 10rem;
    border-top: 5px solid var(--red);
    border-radius: 10rem;
    opacity: 1;
    margin: 0;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: auto auto auto auto;
    grid-gap: 2rem;
    margin-top: 2rem;
}

.card h2 {
    font-size: 1.25rem;
    font-weight: 700;
}

.card {
    transition: all 0.2s ease-in-out;
    margin: 2rem 0;
    padding: 1rem;
    width: 15rem;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: rgb(234, 234, 234);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.banner {
    display: flex;
    justify-content: space-between;
    background: var(--yellow);
    border-radius: 10px;
    padding: 1rem 3rem;
    align-items: center;
    position: relative;
    margin-top: 12rem;
    color: var(--black);
}

.banner .left h1 {
    font-weight: 800;
    font-size: 3rem;
}

.banner .left h3 {
    font-size: 1.25rem;
}

.banner button {
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.banner button:hover {
    background: var(--red);
}

.banner .right {
    position: absolute;
    right: 10px;
    bottom: -30px;
}

.usp {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.usp .usp_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usp .usp_item p {
    text-align: center;
    margin-top: 2rem;
    width: 20rem;
    color: var(--gray);
}

.sorting {
    display: flex;
    justify-content: space-between;
}

.length {
    display: flex;
    justify-content: center;
    align-items: center;
}

.length hr {
    border-top: 1px solid var(--gray);
    opacity: 1;
    width: 50vw;
    margin: 0 0.5rem;
}

.length select {
    border: 1px solid var(--black);
    padding: 0.5rem;
    border-radius: 5px;
    width: 20vw;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.search input {
    padding: 0.5rem;
    border: none;
    outline: none;
    width: 25vw;
}

@media only screen and (max-width:800px) {
    .main {
        padding: 2rem;
        font-size: 70%;
    }

    .grid {
        grid-template-columns: auto auto;
    }


    .topic{
        margin: 0;
    }

    .topic h1 {
        font-size: 1.25rem;
    }

    .topic hr{
        width: 5rem;
    }

    .card img {
        height: 9rem;
        width: 9rem;
    }

    .banner{
        margin-top: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        margin: 3rem 0;
    }

    .banner .left h1{
        font-size: 2rem;
    }
    .banner .left h3{
        font-size: 0.75rem;
    }

    .banner button{
        font-size: 0.65rem;
    }

    .banner .right{
        position: static;
        bottom: 0;
        right: 0;
    }

    .usp_item svg{
        font-size: 2rem;
    }

    .usp .usp_item p{
        width: 4rem;
    font-size: 0.75rem;
    }

    .icon{
        font-size: 2rem !important;
    }
    .length hr{
        width: 20vw;
    }
}