.captureBtn{
    transition: all 0.2s ease-in-out;
}
.captureBtn:hover{
    cursor: pointer;
    background: tomato !important;
}

.consoleIcon{
    animation: rotate 5s linear infinite;
}

@keyframes rotate{
    0%   {transform: rotateZ(0deg);}
    25%  {transform: rotateZ(90deg);}
    50%  {transform: rotateZ(180deg);}
    75%  {transform: rotateZ(270deg);}
    100% {transform: rotateZ(360deg);}
  }