.login_container{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container::before{
    content: '';
            background: url('../public/loginbg.png') 
                no-repeat center center/cover;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100vw;
            height: 100vh;
            z-index: -1;
}
.login_dialogue{
    background: var(--white);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
}

.login_dialogue h3{
    margin-bottom: 2rem;
}

.login_dialogue span{
    margin-top: 1.5rem;
}

.login_dialogue form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.login_dialogue form label{
    margin-top: 2rem;
}

.login_dialogue form button{
    margin-top: 2rem;
    color: var(--white);
    background: var(--red);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0;
    transition: all 0.3s ease-in-out;
}

.login_dialogue form button:hover{
    background: tomato;
    cursor: pointer;
}

.password_field{
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid var(--black);
    border-radius: 3px;
}
.password_field input{
    border-top: none;
    border-bottom: none;
    border-left: none;
    outline: none;
    width: 85%;
    background: none;
    border-radius: 0;
}
.openEye:hover{
    cursor: pointer;
}

@media only screen and (max-width:800px){
    /* .login_container{
        align-items: stretch;
    } */
    .login_dialogue{
        width: 100%;
        font-size: 70%;
        /* position: fixed; */
        height: 100%;
        /* z-index: 4; */
    }
    .login_dialogue input{
        padding: 0.5rem !important;
    }
    .login_dialogue h3{
        font-size: 2rem;
    }
    .openEye{
        margin-left: 0.5rem !important;
    }
}