.navbar{
    background: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar ul li a{
    color: var(--white);
    text-decoration: none;
    margin: 0 1rem;
    transition: all 0.2s ease-in-out;
}

.navbar ul li a:hover{
    color: var(--gray);
}

.navbar .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    height: 100vh;
    width: 30vw;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    padding: 4rem 2rem;
    transform: translateX(100rem);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: var(--white);
    overflow-y: auto;
}


.cart_title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.cart_itemno{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    color: var(--red);
}

.checkout{
    margin: 0 2rem;
}

.subtotal{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0rem;
    font-size: 1.2rem;
}

.checkout button{
    width: 100%;
    padding: 0.5rem 0;
    /* font-size: 1.2rem; */
    background: var(--red);
    border: none;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
}

.pic{
    cursor: pointer;
}

.cartEmpty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.cartEmpty span{
    color: var(--gray);
    margin: 1.5rem 0;
    font-size: 1.25rem;
}

.cartSize{
    position: relative;
}

.cartSizeInfo{
    background: var(--white);
    color: var(--black);
    border-radius: 999px;
    padding: 0.12rem 0.35rem;
    font-size: 0.75rem;
    right: -10px;
    top: -7px;
    position: absolute;
}

.cartIcon{
    cursor: pointer;
}

.phoneNav{
    display: none;
}

.qtyBtn{
    color: var(--red);
    border-radius: 999px;
    border: 1px solid var(--red);
    padding: 0 0.5rem;
    margin: 0.5rem;
}

.qtyBtn:hover{
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    .outerNav{
        display: none;
    }
    .phoneNav{
        display: flex;
        align-items: center;
        color: var(--white);
        background: var(--black);
        justify-content: space-between;
        padding: 1rem 1.5rem;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 4;
    }
    .phoneMenu{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;
        background-color: var(--black);
        transition: all 0.3s ease-in-out;
        /* transform: translateX(-100rem); */
        padding: 2rem 0;
        opacity: 0.95;
    }
    .phoneCart{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 10;
        background-color: var(--white);
        transition: all 0.3s ease-in-out;
        transform: translateX(100rem);
        color: var(--black);
        padding: 4rem 2rem;
        overflow-y: auto;
    }
    .menuHeader{
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }
    .menuLinks{
        padding: 3rem 2rem;
    }

    .menuLinks ul{
        list-style: none;
    }
    .menuLinks ul li{
        margin: 1rem 0;
    }

    .menuLinks ul li a{
        color: var(--white);
        text-decoration: none;
    }
}


