.userkyc_container{
    margin: 4rem 6rem;
    padding: 4rem;
    border: 1px solid var(--gray);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.userkyc_container .left h1{
    color: var(--red);
    font-size: 4rem;
}

.userkyc_container .left h3{
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.editBtn{
background: var(--red);
padding: 0.5rem 1rem;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: space-between;
width: 7vw;
color: var(--white);
transition: all 0.3s ease-in-out;
}
.editBtn:hover{
    color: var(--black);
    background: tomato;
    cursor: pointer;
}
.actionBtns{
    display: flex;
    justify-content: space-between;
}
.continueBtn{
    background: var(--yellow);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8vw;
    color: var(--black);
    transition: all 0.3s ease-in-out;
}
.continueBtn:hover{
    color: var(--black);
    background: tomato;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .userkyc_container{
        margin: 2rem;
        display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    }
    .editBtn{
        width: 25vw;
    }
    .continueBtn{
        width: 30vw;
    }
}